*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;font-family: roboto;
}

html{
    scroll-behavior: smooth;
}

:root{
    --color-principal: #EAD0C3;
    --color-secundario: #C7A390;
    --color-terciario: #FFFCFA;
}

/* header superior */
.header{
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 3000;
    width: 100%;
}

.contHeader{

    background-color: var(--color-principal);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 50;
    width: 100%;
    padding:0 15px;
    height: 100px;
    transition: 0.2s ease-in-out;
}

.menuHambur{
    background-color: var(--color-principal);
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6.5px;
    cursor: pointer;
}

.span{
    display: block;
    background-color: #000;
    height: 1px;
    width: 33px;
}

.span:nth-child(2){
    width: 25px;
}

/* efecto ambur */

.span1{
    animation: segundoSpan1 ease-in .3s forwards;
    animation-iteration-count: 1;
}

.span1efecto{
    animation: span1 ease-in .3s forwards;
    animation-iteration-count: 1;
}

@keyframes span1{
    0%{
    }
    100%{
        transform:translateY(7px) rotate(25deg);  
    }
}

@keyframes segundoSpan1{
    0%{
        transform:translateY(7px) rotate(25deg);
    }100%{
        transform:translateY(0px) rotate(0deg);
    }
}

.span2{
    animation: segundoSpan2 ease-in .3s forwards;
    animation-iteration-count: 1;
}

.span2efecto{
    animation: span2 ease-in .3s forwards;
    animation-iteration-count: 1;
}

@keyframes span2{
    0%{
        opacity: 1;
    }
    80%{
        opacity: 0.5;        
    }
    100%{
        transform:translateX(-45px);  
        opacity: 0;  
    }
}

@keyframes segundoSpan2{
    0%{
        transform:translateX(-45px);  
        opacity: 0;
    }
    80%{
        opacity: 0.5;        
    }
    100%{           
        opacity: 1;  
    }
}

.span3{
    animation: segundoSpan3 ease-in .3s forwards;
    animation-iteration-count: 1;
}

.span3efecto{
    animation: span3 ease-in .3s forwards;
    animation-iteration-count: 1;
}


@keyframes span3{
    0%{
    }
    100%{
        transform:translateY(-8px) rotate(-25deg);  
    }
}

@keyframes segundoSpan3{
    0%{
        transform:translateY(-8px) rotate(-25deg);
    }
    100%{
        transform:translateY(0px) rotate(0deg);  
    }
}

.contLogo{
    height: 100%;
    display: flex;
}

.imgLogo{
    width: 100%;
    object-fit: contain;
}

.carrito{
    height: 30px;
    width: auto;
    cursor: pointer;
}

.bajoMenu{
    height: 100px;
    width: 100%;
    background-color: var(--color-principal);
}

.menuDesplegable{
    background-color: var(--color-principal);
    display: flex;
    width: 100%;
    height: 0;
    justify-content: center;
    overflow: hidden;
    -webkit-transform-origin-y: 0%;
    transition: .5s ease-in-out;
}

.menuDesplegable ul li{
    line-height: 65px;
    list-style: none;
    font-weight: bold;
}

.menuDesplegable ul li a{
    color: #fff;
    display: flex;
    justify-content: center;
}

/* header inferior ( redes ) */

.contSubHeader{
    display: flex;
    justify-content: center;
    padding: 10px 0;
    background-color: var(--color-secundario);
}

.contRedes{
    display: flex;
    gap: 25px;
}

a{
    text-decoration: none;
    color: #00000088;
    display: flex;
}

.iconoFacebook,
.iconoInstagram{
    height: 25px;
    width: auto;
}

/* inicio */

.contImagenInicio{
    background-image: url(./images/planta-vainilla.jpg);
    height: calc(100vh - 145px );
    background-color: #8b3c3c;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.contBienvenida{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
}

.capaOscura{
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #0000005b;
}

.manuscrita{
    font-family: 'Dancing Script', cursive;
    color: #fff;
    font-size: 50px;
    text-align: center;
    text-transform: capitalize;
    position: relative;
}

.slogan{
    color: #fff;
    position: relative;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 50px;
}

.botonInicio{
    background-color: #fff;
    position: relative;
    display: flex;
    justify-content: center;
    padding: 10px 25px;
    font-size: 20px;
    border: none;
    text-transform: capitalize;
}

.contBajar{
    position: absolute;
    bottom: 120px;
    animation-name: efectoBajar;
    animation-duration: 3s;
    animation-timing-function:cubic-bezier();
    animation-iteration-count: infinite;
}

@keyframes efectoBajar {
    50%, 90% {
        bottom: 90px;
          
    }
    90%, 100%{
        opacity: 0;
    }

}

.bi-chevron-compact-down{
    color: #fff;
    transform: scale(300%);
    
}

/* cards */

#cards{
    display: flex;
    flex-direction: column;
    gap: 50px;
    background-color: var(--color-terciario);
    padding: 50px 0;
    position: relative;
    
}

.card{
    padding-right: 15px;
    display: flex;
    flex-direction: row;
    border: none;
    background-color: var(--color-terciario);
    position: relative;
    left: -40px;
    opacity: 0;
    transition: 1s ease-in-out;
}

.contIconoCard{
    width: 25%;
    height: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.bi-heart,
.bi-piggy-bank,
.bi-calendar-check{
    width: 50px;
    height: 50px;
    opacity: .7;
}

.contContenidoCard{
    width: 75%;
}

.tituloCard{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 12px;
    color: #777;
}

.subrayadoCard{
    display: block;
    height: 2px;
    width: 50px;
    background-color: #00000070;
    margin-bottom: 20px;
}

.descripcionCard{
    margin: 0;
    color: #555;
}


/* seccion fondo paisaje */

#seccionPaisaje{
    display: flex;
}

.contImagenPaisaje{
 
    background-image: url(./images/245-2451667_bosque-rojo-otoo-de-paisajes-naturales-fondos-de.jpg);
    width: 100%;
    background-position-y: 70%;
    min-height: 280px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    background-attachment: fixed;
}

.descripcionPaisaje{
    font-family: roboto;
    color: #fff;
    font-size: 40px;
    line-height: 50px;
}

.subrayadoPaisaje{
    display: block;
    height: 5px;
    width: 70px;
    background-color: #fff;
    border-radius: 50px;
}

/* seccion productos */


.pngHoja{
    width: 40px;
}

.tituloProductos{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 50px 0;
    color: #222;
}

.subrayadoProductos{
    display: block;
    width: 80px;
    height: 3px;
    background-color: #00000070;
    border-radius: 50px;
}

/* imagenes de productos */

.btnCerrarImg{
    width: 20px;
    height: 20px;
    position: fixed;
    right: 20px;
    top: 20px;
    display: none;
    align-items: center;
    justify-content: center;
    transform: scale(180%);
    filter: invert(1);
    z-index: 50000;
}

.contProductos{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-bottom: 100px;
}

.contImagenProducto{
    width: 100%;
    padding: 0 15px;
    
}

.imgProducto{
    width: 100%;
    position: relative;
    bottom: -60px;
    opacity: 0;
    transition: .7s ease-in;
}

.imgProducto:hover{
    transform: scale(108%);
}

/* boton whatsapp */
.contAnclajeWhatsapp{
    width: 60px;
    height: 60px;
    background-color: #63A453;
    position: fixed;
    right: 30px;
    bottom: 20px;
    padding: 10px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.anclajeWhatsapp svg{
    color: #fff;
    transform: scale(180%);   
    transition: .5s ease-in-out;
}

.anclajeWhatsapp svg:hover{
    transform: scale(220%);
}

/* efecto achicar navBar */

.achicarNavbar{
    height: 50px;
    transition:0.2s ease-in-out;
}

/*efecto aparece */

.aparece{
    left: 0;
    bottom: 0;
    opacity: 1;
}

/*efecto ampliar imagen producto */

.ampliarImg{
    height: 100%;
    position: fixed;
    background-color: #000;
    top: 0;
    display: flex;
    align-items: center;
    z-index: 10000;
    padding: 0;
}

.apareceFlex{
    display: flex;
}

.desplegarNavbar{
    height: 260px;
}