*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;font-family: roboto;
}

html{
    scroll-behavior: smooth;
}

:root{
    --color-principal: #EAD0C3;
    --color-secundario: #C7A390;
    --color-terciario: #FFFCFA;
    --color-cuarto: #A87B63;
    --color-quinto : #4E3E25;
}

/* header superior */
.header{
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 3000;
    width: 100%;
}

.contHeader{

    background-color: var(--color-principal);
    display: flex;
    z-index: 50;
    width: 100%;
    padding:0 15px;
    height: 100px;
    transition: 0.2s ease-in-out;
    gap: calc(50% - 115px);
}

.menuHambur{
    background-color: var(--color-principal);
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6.5px;
    cursor: pointer;
    justify-self: flex-start;
    
}

.span{
    display: block;
    background-color: #000;
    height: 1px;
    width: 33px;
}

.span:nth-child(2){
    width: 25px;
}

/* efecto ambur */

.span1{
    animation: segundoSpan1 ease-in .3s forwards;
    animation-iteration-count: 1;
}

.span1efecto{
    animation: span1 ease-in .3s forwards;
    animation-iteration-count: 1;
}

@keyframes span1{
    0%{
    }
    100%{
        transform:translateY(7px) rotate(25deg);  
    }
}

@keyframes segundoSpan1{
    0%{
        transform:translateY(7px) rotate(25deg);
    }100%{
        transform:translateY(0px) rotate(0deg);
    }
}

.span2{
    animation: segundoSpan2 ease-in .3s forwards;
    animation-iteration-count: 1;
}

.span2efecto{
    animation: span2 ease-in .3s forwards;
    animation-iteration-count: 1;
}

@keyframes span2{
    0%{
        opacity: 1;
    }
    80%{
        opacity: 0.5;        
    }
    100%{
        transform:translateX(-45px);  
        opacity: 0;  
    }
}

@keyframes segundoSpan2{
    0%{
        transform:translateX(-45px);  
        opacity: 0;
    }
    80%{
        opacity: 0.5;        
    }
    100%{           
        opacity: 1;  
    }
}

.span3{
    animation: segundoSpan3 ease-in .3s forwards;
    animation-iteration-count: 1;
}

.span3efecto{
    animation: span3 ease-in .3s forwards;
    animation-iteration-count: 1;
}


@keyframes span3{
    0%{
    }
    100%{
        transform:translateY(-8px) rotate(-25deg);  
    }
}

@keyframes segundoSpan3{
    0%{
        transform:translateY(-8px) rotate(-25deg);
    }
    100%{
        transform:translateY(0px) rotate(0deg);  
    }
}

.contLogo{
    height: 100%;
    width: 150px;
    display: flex;
}

.imgLogo{
    width: 100%;
    object-fit: contain;
}

.carrito{
    height: 30px;
    width: auto;
    cursor: pointer;
    visibility: hidden;
}

.bajoMenu{
    height: 100px;
    width: 100%;
    background-color: var(--color-principal);
}

.menuDesplegable{
    background-color: var(--color-principal);
    display: flex;
    opacity: 0;
    width: 100%;
    height: 0;
    justify-content: center;
    overflow: hidden;
    transition: .7s cubic-bezier(0.390, 0.575, 0.565, 1.000);
}

.menuDesplegable ul li{
    line-height: 65px;
    list-style: none;
}

.menuDesplegable ul li a{
    display: flex;
    justify-content: center;
    font-weight: 800;
}

/* header inferior ( redes ) */

.contSubHeader{
    display: flex;
    justify-content: center;
    padding: 5px 0;
    background-color: var(--color-secundario);
}

.contRedes{
    display: flex;
    align-items: center;
    gap: 25px;
}

a{
    display: flex;
    text-decoration: none;
    color: var(--color-quinto);
    user-select: none;
}

.fa-brands{
    text-decoration: none;
    color: #fff;
    display: flex;
}

.contIconoRedes{
    background-color: #555;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contIconoRedesSinFondo{
    margin-right: 15px;
}

/* inicio */

.contImagenInicio{
    background-image: url(./images/planta-vainilla.jpg);
    height: calc(100vh - 140px );
    background-color: #8b3c3c;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.contBienvenida{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
}

.capaOscura{
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #0000005b;
}

.manuscrita{
    font-family: 'Dancing Script', cursive;
    color: #fff;
    font-size: 50px;
    text-align: center;
    text-transform: capitalize;
    position: relative;
}

.slogan{
    color: #fff;
    position: relative;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 50px;
}

.boton{
    background-color: #fff;
    position: relative;
    display: flex;
    justify-content: center;
    padding: 10px 25px;
    font-size: 20px;
    border: none;
    text-transform: capitalize;
    cursor: pointer;
}

.boton:hover{
    background-color: var(--color-principal);
    color: #fff;
}

.boton:hover a{
    color: #fff;
}

.contBajar{
    position: absolute;
    bottom: 120px;
    animation-name: efectoBajar;
    animation-duration: 3s;
    transition: 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000);
    animation-iteration-count: infinite;
}

@keyframes efectoBajar {
    50%, 90% {
        bottom: 90px;
          
    }
    90%, 100%{
        opacity: 0;
    }

}

.bi-chevron-compact-down{
    color: #fff;
    transform: scale(300%);
    
}

/* cards */

#cards{
    display: flex;
    flex-direction: column;
    gap: 50px;
    background-color: var(--color-terciario);
    padding: 50px 0;
    position: relative;
    
}

.card{
    padding-right: 15px;
    display: flex;
    flex-direction: row;
    border: none;
    background-color: var(--color-terciario);
    position: relative;
    left: -40px;
    opacity: 0;
    transition: 1.2s ease-out;
}

.contIconoCard{
    width: 25%;
    height: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 5%;
    color: var(--color-cuarto);
}

.bi-heart,
.bi-calendar-check{
    width: 50px;
    height: 50px;
}

.bi-piggy-bank{
    width: 60px;
    height: 60px;
}

.contContenidoCard{
    width: 75%;
}

.tituloCard{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 12px;
    color: #444;
}

.subrayadoCard{
    display: block;
    height: 2px;
    width: 50px;
    background-color: #00000070;
    margin-bottom: 20px;
}

.descripcionCard{
    margin: 0;
    color: #555;
}


/* seccion fondo paisaje */

#seccionPaisaje{
    display: flex;
}

.contImagenPaisaje{
 
    background-image: url(./images/245-2451667_bosque-rojo-otoo-de-paisajes-naturales-fondos-de.jpg);
    width: 100%;
    background-position-y: 70%;
    min-height: 280px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    background-attachment: fixed;
}

.descripcionPaisaje{
    font-family: roboto;
    color: #fff;
    font-size: 40px;
    line-height: 50px;
}

.subrayadoPaisaje{
    display: block;
    height: 5px;
    width: 70px;
    background-color: #fff;
    border-radius: 50px;
}

/* seccion productos */


.pngHoja{
    width: 40px;
}

.titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 50px 0;
    color: #222;
}

.subrayadoProductos{
    display: block;
    width: 80px;
    height: 3px;
    background-color: #00000057;
    border-radius: 50px;
}

/* imagenes de productos */

.btnCerrarImg{
    width: 20px;
    height: 20px;
    position: fixed;
    right: 20px;
    top: 20px;
    display: none;
    align-items: center;
    justify-content: center;
    transform: scale(180%);
    filter: invert(1);
    z-index: 50000;
}

.contProductos{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-bottom: 100px;
}

.contImagenProducto{
    width: 100%;
    padding: 0 15px;
    
}

.imgProducto{
    width: 100%;
    position: relative;
    bottom: -60px;
    opacity: 0;
    transition: .7s ease-in;
}

.imgProducto:hover{
    transform: scale(108%);
}

/* seccion prespuesto */

#armaTuPedido{
    background-color: var(--color-secundario);
    padding: 60px 15px;
    color: #fff;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#armaTuPedido::before{
    content: "";
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    background-color: var(--color-principal);
    position: absolute;
    bottom: -35px;
    left: -25px;
}

#armaTuPedido::after{
    content: "";
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: var(--color-terciario);
    position: absolute;
    bottom: -50px;
    left: 25px;
}

.contTiyuloPresupuesto{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contCantidadPresupuesto{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#enviarNumero{
    font-size: 16px;
    border: none;
    padding: 5px 7px;
    background-color: var(--color-terciario);
    cursor: pointer;
}

#enviarNumero:hover{
    background-color: var(--color-principal);
    color: #fff;
}

.textCantidad{
    font-size: 20px;
    display: inline-block;
}

.descripcionCantPresupuesto1{
    color: #ffffffd3;
}

.descripcionCantPresupuesto2{
    font-style: italic;
    color: #dfdfdf;
    font-weight:lighter;
}

.contPrecioTotal{
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}

.precioTotal{
    font-size: 20px;
    margin-right: 10px;
}

form{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: start;
    margin-bottom: 15px;
    flex-direction: row;
    gap: 5px;
}

.total,
#cantidad{
    border: none;
    border-bottom: 2px solid #fff;
    background-color: var(--color-secundario);
    padding:2px 0px;
    color: #fff;
    padding-left: 1px;
}


.contButtonEncargar{
    display: flex;
    justify-content: center;
    align-items: center;
}


/*seccion nosotros */
#nosotros{
    overflow: hidden;
}
.textoNosotros{
    font-size: 18px;
    padding: 0 15px 75px 15px;
    color: #777;
    text-align: justify;
    line-height: 30px;
    position: relative;
    left: 40px;
    opacity: 0;
    transition: 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000);
}

.linkSaberMas{
    color: var(--color-quinto);
    text-decoration:underline;
    display: inline-block;
}

/* estilos footer */

#footer{
    background-color: var(--color-secundario);
    color: #fff;
    padding: 0 15px 15px 15px;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

#footer::before{
    content: "";
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: var(--color-principal);
    position: absolute;
    top: -55px;
    right: 20px;
}

#footer::after{
    content: "";
    display: block;
    width: 75px;
    height: 75px;
    border-radius: 50px;
    background-color: var(--color-terciario);
    position: absolute;
    top: -45px;
    right: -20px;
}

.seccionFooter{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.subrayadoFooter{
    display: block;
    height: 3px;
    width: 50px;
    border-radius: 50px;
    background-color: #fff;
}

.contListContacto ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contListContacto ul li{
    list-style: none;
}

.contIconoRedes{
    border-radius: 50px;
    padding: 5px;
    width: 30px;
    height: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    background-color: var(--color-quinto);
}

.contIconosRedesFooter{
    display: flex;

}

.contIconoRedes:hover{
    background-color: var(--color-terciario);   
}

.contIconoRedes:hover i{
    color: var(--color-quinto);
}

#contCopyright{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
    color: #fff;
    width: 100%;
    background-color: var(--color-secundario);
    border-top: #fff solid 1px;
}

/* boton whatsapp */


.contAnclajeWhatsapp{
    width: 60px;
    height: 60px;
    background-color: #1BD741;
    position: fixed;
    right: 20px;
    bottom: 20px;
    padding: 10px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    box-shadow: -1px 1px 10px 1px #00000083;
}

.mensajeWhatsapp{
    width: 140px;
    height: 45px;
    background-color: #FDF3E6;
    position: fixed;
    right: 100px;
    bottom: 10px;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: -1px 1px 10px #00000046;
}

.contAnclajeWhatsappAfter{
    display: none;
    position: fixed;
    right: 5px;
    bottom: 40px;
    border-left: 20px solid #FDF3E6;
    border-bottom: 15px solid transparent;
    border-right: 15px solid transparent;
    width: 100px;
}

.anclajeWhatsapp svg{
    color: #fff;
    transform: scale(180%);   
    transition: .5s ease-in-out;
    z-index: 10;
}

.anclajeWhatsapp svg:hover{
    transform: scale(220%);
}

/* efecto achicar navBar */

.achicarNavbar{
    height: 50px;
    transition:0.2s ease-in-out;
}

/*efecto aparece */

.aparece{
    left: 0;
    bottom: 0;
    opacity: 1;
}

/*efecto ampliar imagen producto */

.ampliarImg{
    height: 100vh;
    position: fixed;
    background-color: #000000e7;
    top: 0;
    display: flex;
    align-items: center;
    z-index: 10000;
    padding: 0;
}

.apareceFlex{
    display: flex;
}

.desplegarNavbar{
    opacity: 1;
    height: auto;
    transition: .7s cubic-bezier(0.390, 0.575, 0.565, 1.000);
}

.bgcWhite{
    background-color: var(--color-terciario) ;
    color: #000;
    border: none;
}

/*responsive */

@media screen and (min-width: 468px){
    .contProductos{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 7px;
        justify-content: center;
    }

    .imgProducto{
        max-width: 300px;
        cursor: pointer;
    }

    .imgProducto:hover{
        transform: scale(103%);
    }
    .contImagenProducto{
        width: auto;
        padding: 0px;
    }
    
    .ampliarImg{
        width: 100%;
        align-items: center;
        justify-content: center;
        transform: scale(250%);
    }

    .btnCerrarImg{
        transform: scale(250%);
        margin:0 25px;
        cursor: pointer;
    }
}


@media screen and (min-width: 768px) {

    .header{
        display: flex;
        flex-direction: row;
        padding: 0 50px;
        background-color: var(--color-principal);
    }

    .contHeader{
        width: auto;
        padding: 0;
    }
    .achicarNavbar{
        height: 80px;
        transition:0.2s ease-in-out;
    }
    .menuHambur{
        display: none;
    }
    .menuDesplegable{
        opacity: 1;
        height: auto;
        justify-content: end;
        align-items: center;
    }

    .menuDesplegable ul{
        display: flex;
        flex-direction: row;
        gap: 25px;
        padding: 0 20px;
    }
    .menuDesplegable ul li a:hover{
        color: var(--color-terciario)
    }

    .contBajar{
        bottom: 50px;
    }

    @keyframes efectoBajar {
        50%, 90% {
            bottom: 10px;
              
        }
        90%, 100%{
            opacity: 0;
        }
    
    }
    #cards{
        flex-direction: row;
        padding:75px 50px;
        gap: 20px;
    }

    .card{
        gap: 10px;
    }

    .descripcionCard{
        font-size: 14px;
    }

    .contImagenPaisaje{
        height: 400px;
    }

    .descripcionPaisaje{
        font-size: 3rem;
    }

    .textoNosotros{
        padding: 0 75px 75px 75px;
    }

    #armaTuPedido{
        padding:50px 75px;
    }

    #footer{
        padding: 50px 75px;
        flex-direction: row;
        gap: 50px;
    }

    .contContactoFooter{
        padding: 0;
    }
  }

